.mini-web-logo {
  animation: logoExpand 10s ease-in-out 2s infinite;
}

@keyframes logoExpand {
  0%, 20% {
    @apply w-1/2;
  }
  30%, 70% {
    @apply w-1/4;
  }
  80%, 100% {
    @apply w-1/2;
  }
}

.mini-web-left-col-card {
  animation: leftColAnimation 10s ease-in-out infinite;
}

@keyframes leftColAnimation {
  0%, 20% {
    @apply h-12;
  }
  30%, 70% {
    @apply h-20;
  }
  80%, 100% {
    @apply h-12;
  }
}

.mini-web-right-col-card {
  animation: rightColAnimatoin 10s ease-in-out infinite;
}

@keyframes rightColAnimatoin {
  0%, 20% {
    @apply h-20;
  }
  30%, 70% {
    @apply h-12;
  }
  80%, 100% {
    @apply h-20;
  }
}

.mini-dashboard-color-bubble-1 {
  animation: changeBorderColor1 10s ease-in-out infinite;
}

@keyframes changeBorderColor1 {
  0%, 20% {
    @apply border-zinc-600;
  }
  30%, 60% {
    @apply border-yellow-400;
  }
  70%, 100% {
    @apply border-zinc-600;
  }
}

.mini-dashboard-color-bubble-2 {
  animation: changeBorderColor2 10s ease-in-out infinite;
}

@keyframes changeBorderColor2 {
  0%, 60% {
    @apply border-zinc-600;
  }
  70%, 100% {
    @apply border-yellow-400;
  }
}

.mini-dashboard-color-bubble-3 {
  animation: changeBorderColor3 10s ease-in-out infinite;
}

@keyframes changeBorderColor3 {
  0%, 20% {
    @apply border-yellow-400;
  }
  30%, 100% {
    @apply border-zinc-600;
  }
}

.mini-dashboard-card-color {
  animation: changeContentColor 10s ease-in-out infinite;
}

@keyframes changeContentColor {
  0%, 20% {
    @apply bg-purple-700/60;
  }
  30%, 60% {
    @apply bg-red-700/60;
  }
  70%, 100% {
    @apply bg-green-700/60;
  }
}

.mini-dashboard-tr-corner {
  background:  black;
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  right: -40px;
  rotate: -45deg;
}

.mini-dashboard-bl-corner {
  position: absolute;
  left: -10px;
  bottom: -20px;
  background: black;
  width: 200px;
  height: 50px;
  transform: skew(45deg);
}

.mini-dashboard-bl-corner::before,
.mini-dashboard-bl-corner::after {
  content: "";
  position: absolute;
}

.mini-dashboard-bl-corner::before {
  @apply bg-primary;
  border-bottom-left-radius: 6px;
  box-shadow: -10px 10px black;
  width: 20px;
  height: 20px;
  transform: skew(-45deg);
  top: -20px;
  left: 45px;
  background-image: url("/noise.svg");
}

.mini-dashboard-bl-corner::after {
  background: black;
  width: 60px;
  height: 30px;
  top: 0;
  right: -20px;
  border-top-right-radius: 10% 10%;
}
